@model AutoService.Models.Orders

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="autoparts_id" class="control-label"></label>
                <select asp-for="autoparts_id" class ="form-control" asp-items="ViewBag.autoparts_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="client_id" class="control-label"></label>
                <select asp-for="client_id" class ="form-control" asp-items="ViewBag.client_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="manager_id" class="control-label"></label>
                <select asp-for="manager_id" class ="form-control" asp-items="ViewBag.manager_id"></select>
            </div>
            <div class="form-group">
                <label asp-for="date" class="control-label"></label>
                <input asp-for="date" class="form-control" />
                <span asp-validation-for="date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="total" class="control-label"></label>
                <input asp-for="total" class="form-control" />
                <span asp-validation-for="total" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
